<section class="about-page">
    <header class="header">
      <h1>About Us</h1>
    </header>
    <div class="container">
      <div class="about-section">
        <div class="about-image">
          <!-- Replace with your team photo -->
          <img src="assets/about/about1.jpg" alt="About image">
        </div>
        <div class="about-content">
          <h2>Who We Are</h2>
          <p>
            Our mission is to empower customers and businesses with convenient online ordering solutions. We are dedicated to providing top-notch service and a seamless ordering experience that enhances convenience and satisfaction
          </p>
        </div>
      </div>
      </div>
      </section>